/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  line-height: 1.6;
}

/* NAVBAR */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background: transparent;
  transition: 0.3s ease;
  z-index: 1000;
}

header.scrolled {
  background-color: #222;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo {
  color: rgb(228, 243, 11);
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 30px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 6px 12px;
  transition: 0.3s;
}

/* HOVER EFFECT */
.nav-links a:hover {
  background-color: #ff9800;
  color: black;
  border-radius: 5px;
}

/* HERO SECTION */
.hero {
  height: 100vh;
  background: linear-gradient(to right, #3f51b5, #2196f3);
  color: rgb(248, 244, 244);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

/* SECTIONS */
section {
  padding: 90px 40px;
}

section:nth-child(even) {
  background-color: #7170d4;
}

section h2 {
  text-align: center;
  margin-bottom: 15px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .nav-links {
    margin-top: 10px;
    flex-direction: column;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .hero h1 {
    font-size: 36px;
  }
}